{% extends "/settings.html" %}
{% block options %}
    <h3>Diets</h3>
    <form method="post" action="{{ url_for('settingsDiets') }}">
        <ul>
        {% for item in items %}
            {% if item in checked %}
                <li><input type="checkbox" name="checkbox" value="{{ item }}" checked>{{ item }}</li>
            {% else %}
                <li><input type="checkbox" name="checkbox" value="{{ item }}">{{ item }}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <button type="submit">Save</button>
    </form>
{% endblock %}
