<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav>
        <a href="http://127.0.0.1:5000/index">Overview</a>
        <!-- <a href="http://127.0.0.1:5000/find_recipe">Find Recipe</a> -->
        <a href="http://127.0.0.1:5000/faqs">FAQs</a>
        <a href="http://127.0.0.1:5000/login">Login</a>
        <a href="http://127.0.0.1:5000/signup">Signup</a>
    </nav>

    <h2>Login</h2>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="post" action="http://127.0.0.1:5000/login">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    <br>
    
    <p>Don't have an account? <a href="http://127.0.0.1:5000/signup">Signup</a></p>

</body>
</html>
