{% extends "/base.html" %}
{% block title %}Logout{% endblock %}
{% include 'navbarActive.html' %}
{% block main %}
    <h2>Logout</h2>
    {% if current_user.is_authenticated %}
        <p>Are you sure you want to logout, {{ current_user.id }}?</p>
        <form method="post" action="{{ url_for('logout') }}">
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>You are not logged in. Please <a href="{{ url_for('login') }}">login</a>.</p>
    {% endif %}
{% endblock %}