{% extends "/settings.html" %}
{% block options %}
    <h3>Reset Password</h3>
    <form method="post" action="{{ url_for('settingsResetPassword') }}">
        <label for="oldPass">Old Password</label>
        <input type="text" id="oldPass" name="oldPass" required>
        <br>
        <label for="newPass">New Password</label>
        <input type="text" id="newPass" name="newPass" required>
        <br>
        <label for="newPassConfirm">Confirm New Password</label>
        <input type="text" id="newPassConfirm" name="newPassConfirm" required>
        <br>
        <button type="submit">Reset Password</button>
    </form>
{% endblock %}
