{% extends "/base.html" %}
{% block title %}Find Recipe{% endblock %}
{% include 'navbarActive.html' %}
{% block main %}
    <div class="center">
        <h1>Search Recipe</h1>
        <form action="{{ url_for('search') }}" method="post">
            <input id="searchBar type="text" name="query" value="{{ query }}">
            {% with title='Cuisine', items=cuisines %}
                {% include "dropdownChecklist.html" %}
            {% endwith %}
            <!-- <button type="submit">Search</button> -->
        </form>
    </div>
    {% for result in results %}
    <a href="{{ url_for('recipe', id={{ result['id'] }}) }}">
    <!-- <a href="http://127.0.0.1:5000/recipe?id={{ result['id'] }}"> -->

        <div>
            <h3>{{ result['title'] }}</h2>
            <img src="{{ result['image'] }}">
        </div>
    </a>
    <hr>
    {% endfor %}
{% endblock %}