*{
    font-family: Arial, Helvetica, sans-serif;
    /* outline: red solid 1px; */
}
body{
    margin: 0;
}
#main {
    margin: 10px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.center{
    text-align: center;
    margin: auto;
    width: 80%;
}
nav{
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    outline: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
    width: 100%-10px;
    position: sticky;
    background-color: white;
}
nav a{
    float: left;
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.2s;
}
nav a:hover{
    background-color:rgb(210, 193, 110);
}
#searchBar{
    width: 100%;
    padding: 10px;
}

.dropdown {
    display: inline-block;
}

.dropdown .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}

.dropdown .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown ul.items li {
    list-style: none;
}

.dropdown.visible .anchor {
    color: #0094ff;
}

.dropdown.visible .items {
    display: block;
}

.alert {
    background-color: rgb(246, 241, 205);
    border: 1px solid rgb(119, 93, 45);
    border-radius: 10px;
    color: rgb(119, 93, 45);
    padding: 20px;
    margin: 10px
}